In [ ]:
print("HELLO WORLD")

HELLO WORLD

In [ ]:
#2
q = int(input("Enter a operator: 1: +, 2: -, 3: *, 4: / "))
x = int(input("Enter a 1 number: "))
y = int(input("Enter a 2 number: "))

match q:
    case 1:
        print(x + y)
    case 2:
        print(x - y)
    case 3:
        print(x * y)
    case 4:
        print(x / y)
    case _:
        print("Invalid input")

Enter a operator: 1: +, 2: -, 3: *, 4: / 1
Enter a 1 number: 1
Enter a 2 number: 3
4

In [ ]:
#3
t = [1,2,3,4,5]
large = t[0]
small = t[0]
for x in t:
    if x > large:
        large = x
    if x < small:
        small = x
print("largest number : ",large)
print("smallest number :", small)

print(t)

sum_of_numbers = 0
for x in t:
    sum_of_numbers = sum_of_numbers + x
print("sum of numbers: ",sum_of_numbers)

reversed_list = []
reversed_list = t[::-1]
print("reversed list : ",reversed_list)

largest number :  5
smallest number : 1
[1, 2, 3, 4, 5]
sum of numbers:  15
reversed list :  [5, 4, 3, 2, 1]

In [ ]:
#4
s = "Hamza Alvi"
x = s.upper()
z= s.split()
c = s.lower()
v = len(s)
b = s[::-1]
print(b)
print(v)
print(c)
print(z)
print(x)

ivlA azmaH
10
hamza alvi
['Hamza', 'Alvi']
HAMZA ALVI

In [5]:
#5
x = [1,2,3,4,5]
for i in x:
  for j in x:
    if i > 2 and j>2:
      print(i,j)

3 3
3 4
3 5
4 3
4 4
4 5
5 3
5 4
5 5

In [11]:
def add(a,b):
    return a+b

a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
x = add(a,b)
print(x)

Enter a number: 1
Enter a number: 2
3

In [21]:
x = [1,2,3,4,5,6,7]
print(x[-1])
x[1:3]
x[1:5:2]

7

[2, 4]