#Happy journey

#Print statement

In [1]:
print("Hello World")

Hello World

#Variables

In [4]:
#adding 2 variables
a=10
b=15
c=a+b
print(a,"+",b,"=",c)

10 + 15 = 25

In [6]:
#variables types             String, Integer, Float, Boolean

In [8]:
y= "Hamza Alvi"
z = 25
print("My Name IS ,",y,"I Am ,",z,"Years Old")

My Name IS , Hamza Alvi I Am , 25 Years Old

In [12]:
#using different data types in one vaiable
v = "Hamza", 1 ,2.3
print(v)

('Hamza', 1, 2.3)

In [13]:
type(v)

tuple

In [14]:
#FString

In [17]:
print(f"my name is :",{y})

my name is : {'Hamza Alvi'}

#Taking Input

In [19]:
My_Name = input("What Is Your Name")
print(My_Name)

What Is Your NameHamza
Hamza

In [20]:
print(My_Name.upper())

HAMZA

In [21]:
print(My_Name.lower())

hamza

#Operators

In [22]:
#Arithemetics
print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:", a*b)
print("Division:", a/b)
print("Modulus:", a%b)  #Remainder
print("Exponential:", a**b)
print("Floor Division:", a//b)  #neglect the numbers after point(.)

Addition: 25
Subtraction: -5
Multiplication: 150
Division: 0.6666666666666666
Modulus: 10
Exponential: 1000000000000000
Floor Division: 0

In [23]:
#Comparison operators

In [24]:
print(a == b)
print( a < b)
print( a <= b)
print( a > b)
print( a >= b)
print( a != b)

False
True
True
False
False
True

In [32]:
o = 9
i = 8
Num = int(input("Enter a number :"))
if o > Num and o > i :
  print("i is the beggest number")
elif o > i and o < Num:
  print("Num is the biggest number")

Enter a number :10
Num is the biggest number

In [34]:
if o > i and o!=i:
  print("statement is working")

statement is working

#Data Structures
#list ,tuple ,set ,dictionary

In [35]:
#LIST
# We can modify, append list
# we can remove items from the list
# we can sort and reverse list
# we can count items in the list

In [40]:
fruits = ["apple","orange","banana",1,1.5,True]
print(fruits)

['apple', 'orange', 'banana', 1, 1.5, True]

In [41]:
#indexing the itmes in list
fruits[1]

'orange'

In [42]:
#Removing items in list
fruits.remove("apple")
print(fruits)

['orange', 'banana', 1, 1.5, True]

In [43]:
#Adding in list
fruits.append("graps")
print(fruits)

['orange', 'banana', 1, 1.5, True, 'graps']

In [46]:
#reverse the list
fruits.reverse()
print(fruits)

['graps', True, 1.5, 1, 'banana', 'orange']

In [47]:
#Count items in list
fruits.count("banana")

1

In [50]:
#clear the list
fruits.clear()
print(fruits)

[]

In [51]:
#Sort the list
fruits1 = ["apple","orange","banana"]
fruits1.sort()
print(fruits1)

['apple', 'banana', 'orange']

In [4]:
#2D Array

In [10]:
#The data elements in two dimesnional arrays can be accessed using two indices
#accessing elemests in 2D array
Q = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(Q[0])
print(Q[3][2])

[11, 12, 5, 2]
8

In [11]:
#Inserting elemests i 2D array
#first parameter is index and 2nd is value
Q.insert(1,[19,"R",20.5])
print(Q)

[[11, 12, 5, 2], [19, 'R', 20.5], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

In [13]:
#UPDATING elemest in 2D array
Q[2] = "Hamza Alvi"
Q[3][3] = "HEHEHE"
print(Q)

[[11, 12, 5, 2], [19, 'R', 20.5], 'Hamza Alvi', [10, 8, 12, 'HEHEHE'], [12, 15, 8, 6]]

In [15]:
#Deleting the values in 2D array
del Q[4][2]
print(Q)

[[11, 12, 5, 2], [19, 'R', 20.5], 'Hamza Alvi', [10, 8, 12, 'HEHEHE'], [12, 15, 6]]

#Tuple

In [1]:
 # we can't modify tuple
# we can't add and remove items

In [2]:
my_tuple = ("orange", 1 , 2)
print(my_tuple)

('orange', 1, 2)

In [3]:
len(my_tuple)

3

#Dictionay

In [21]:
student = {'name':'Hamza', 'age': 25.5, '####' : 33.6 ,'phone': 840 , 'courses': ('maths', 'science')}
print(student["age"])
print(student.get("pone_number","Not found in dic data"))
print(student.get("phone"))
print(student.get("####","Not found in dic data"))
print(type(student))

25.5
Not found in dic data
840
33.6
<class 'dict'>

#Slicing a List

In [11]:
#list[start:end:step]
numbers = [10, 20, 30, 40, 50, 60]
print(numbers)
print(numbers[0:4])
print(numbers[:3])
print(numbers[3:])
#reverse the list
print(numbers[::-1])
#jump in list
print(numbers[0:6:2])
#reverse jump
print(numbers[::-2])

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40]
[10, 20, 30]
[40, 50, 60]
[60, 50, 40, 30, 20, 10]
[10, 30, 50]
[60, 40, 20]

#CONDITIONAL STATEMENT AND LOOPS

In [5]:
#if else
x = int(input("Enter a number to check its even or odd :"))
if x % 2 == 0 :
  print("its even number")
elif x % 2 != 0:
  print("its odd number")

Enter a number to check its even or odd :96
its even number

In [7]:
#For Loop
L = ["Apple", "Banana", "Orange", "Mango"]
for items in L:
  print("current fruite item is :",items)

current fruite item is : Apple
current fruite item is : Banana
current fruite item is : Orange
current fruite item is : Mango

In [9]:
#print numbers from 0 to 10
for items in range(0,11):
  print("The loop number is :",items)

The loop number is : 0
The loop number is : 1
The loop number is : 2
The loop number is : 3
The loop number is : 4
The loop number is : 5
The loop number is : 6
The loop number is : 7
The loop number is : 8
The loop number is : 9
The loop number is : 10