#Happy journey

#Print statement

In [1]:
print("Hello World")

Hello World

#Variables

In [4]:
#adding 2 variables
a=10
b=15
c=a+b
print(a,"+",b,"=",c)

10 + 15 = 25

In [6]:
#variables types             String, Integer, Float, Boolean

In [8]:
y= "Hamza Alvi"
z = 25
print("My Name IS ,",y,"I Am ,",z,"Years Old")

My Name IS , Hamza Alvi I Am , 25 Years Old

In [12]:
#using different data types in one vaiable
v = "Hamza", 1 ,2.3
print(v)

('Hamza', 1, 2.3)

In [13]:
type(v)

tuple

In [14]:
#FString

In [17]:
print(f"my name is :",{y})

my name is : {'Hamza Alvi'}

#Taking Input

In [19]:
My_Name = input("What Is Your Name")
print(My_Name)

What Is Your NameHamza
Hamza

In [20]:
print(My_Name.upper())

HAMZA

In [21]:
print(My_Name.lower())

hamza

#Operators

In [22]:
#Arithemetics
print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:", a*b)
print("Division:", a/b)
print("Modulus:", a%b)  #Remainder
print("Exponential:", a**b)
print("Floor Division:", a//b)  #neglect the numbers after point(.)

Addition: 25
Subtraction: -5
Multiplication: 150
Division: 0.6666666666666666
Modulus: 10
Exponential: 1000000000000000
Floor Division: 0

In [23]:
#Comparison operators

In [24]:
print(a == b)
print( a < b)
print( a <= b)
print( a > b)
print( a >= b)
print( a != b)

False
True
True
False
False
True

In [32]:
o = 9
i = 8
Num = int(input("Enter a number :"))
if o > Num and o > i :
  print("i is the beggest number")
elif o > i and o < Num:
  print("Num is the biggest number")

Enter a number :10
Num is the biggest number

In [34]:
if o > i and o!=i:
  print("statement is working")

statement is working

#Data Structures
#list ,tuple ,set ,dictionary

In [35]:
#LIST
# We can modify, append list
# we can remove items from the list
# we can sort and reverse list
# we can count items in the list

In [40]:
fruits = ["apple","orange","banana",1,1.5,True]
print(fruits)

['apple', 'orange', 'banana', 1, 1.5, True]

In [41]:
#indexing the itmes in list
fruits[1]

'orange'

In [42]:
#Removing items in list
fruits.remove("apple")
print(fruits)

['orange', 'banana', 1, 1.5, True]

In [43]:
#Adding in list
fruits.append("graps")
print(fruits)

['orange', 'banana', 1, 1.5, True, 'graps']

In [46]:
#reverse the list
fruits.reverse()
print(fruits)

['graps', True, 1.5, 1, 'banana', 'orange']

In [47]:
#Count items in list
fruits.count("banana")

1

In [50]:
#clear the list
fruits.clear()
print(fruits)

[]

In [51]:
#Sort the list
fruits1 = ["apple","orange","banana"]
fruits1.sort()
print(fruits1)

['apple', 'banana', 'orange']

#Tuple