In [ ]:
def square(a):
  return a*2
square(2)

4

In [ ]:
def addition(a,b,c):
    d=a+b+c
    return d
addition(1,2,3)

6

In [ ]:
def name(YourName):
  YourName = input("Your Name :")
  print("Your name is ", YourName)
name("YourName")

Your Name :Hamza alvi
Your name is  Hamza alvi

In [ ]:
#for loop

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  print("2 *",i,"=",i*2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
n="Hamza Alvi"
for i in n:
  print(i)

H
a
m
z
a

A
l
v
i

In [ ]:
#constructor function

In [ ]:
class student:
        def __init__(self,name,grade):
         self.name=name
         self.grade=grade
s = student("Hamza Alvi","A")
print("Name :",s.name)
print("Grade :",s.grade)

Name : Hamza Alvi
Grade : A

In [ ]:
#while loop
i=0
while i<10:
  i= i+1
  if i%2==0:
    print(i)

2
4
6
8
10

In [ ]:
i=0
while i<10:
  i=i+1
  print("5*",i,"=",i*5)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [ ]:
while True:
  i=input("Enter password :")
  if i=="admin123":
    print("password is correct")
    break
  else:
    print("password is incorrect")

Enter password :admin123
password is correct

In [ ]:
#oop

In [ ]:
class car:
  def __init__(self,brand,model,year):
    self.brand=brand
    self.model=model
    self.year=year
  def car_info(self):
    print(self.brand,self.model,self.year)
car1=car("Toyota","Corolla",2025)
car1.car_info()

Toyota Corolla 2025

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def show_info(self):
    print(self.name,self.age)
class student(person):
  def __init__(self,name,age,grade):
    super().__init__(name,age)
    self.grade=grade
  def show_grade(self):
    print(self.grade)
student1= student("Hamza Alvi",20,"A")
student1.show_info()
student1.show_grade()

Hamza Alvi 20
A