In [ ]:
# Activity 01

In [ ]:
# Tast 01
age = 24
name = "hamza"
student = False

print(age , name , student)

24 hamza False

In [ ]:
total_age = 25 + age
print(total_age)
print("smith ", name)
if student == True:
    student = False
    print(student)
else:
    student = True
    print(student)

49
smith  hamza
True

In [ ]:
# Tast 02

In [ ]:
width = 5.5
height = 3.25
area = width * height
print("Area of the rectangle:", area)

celsius_temp = 25
fahrenheit_temp = (celsius_temp * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit_temp)

radius = 5
pi = 3.14159
area_circle = pi * radius ** 2
print("Area of the circle:", area_circle)

Area of the rectangle: 17.875
Temperature in Fahrenheit: 77.0
Area of the circle: 78.53975

In [ ]:
# Task 03

In [ ]:
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [ ]:
months = ("jaun", "feb", "may")
print(months)

('jaun', 'feb', 'may')

In [ ]:
# Task 04

In [ ]:
numbers = [12, 34, 45, 67, 89, 100, 23, 56]

total_sum = sum(numbers)
average = total_sum / len(numbers)

In [ ]:
# Print results
print("Sum of the numbers:", total_sum)
print("Average of the numbers:", average)

Sum of the numbers: 426
Average of the numbers: 53.25

In [ ]:
del fruits[0]
del fruits[3]
print(fruits)

['banana', 'orange', 'grape']

In [ ]:
# Task 05

In [ ]:
capitals = {"usa": "washington D.C", "france": "paris", "japan": "tokyo"}
print(capitals)

{'usa': 'washington D.C', 'france': 'paris', 'japan': 'tokyo'}

In [ ]:
capitals['germany'] = 'berlin'
print(capitals)

{'usa': 'washington D.C', 'france': 'paris', 'japan': 'tokyo', 'germany': 'berlin'}

In [ ]:
if "france" in capitals:
    print("france in a dictionary")
else:
    print("france is not in a dictionary")

france in a dictionary

In [ ]:
# Tast 06

In [ ]:
number = int(input("Enter a number: "))

if number % 2 == 0:
    print(number, " : this number is even.")
else:
    print(number, " : this number is odd.")

Enter a number: 10
10  : this number is even.

In [ ]:
age = 20
gpa = 3.5

if age >= 18 and gpa >= 3.0:
    print("Eligible for admission")
else:
    print("Not eligible for admission")

Eligible for admission

In [ ]:
# Task 07

In [ ]:
fruits_set = {"apple", "banana", "orange", "grape", "kiwi"}
print(fruits_set)

{'apple', 'grape', 'kiwi', 'banana', 'orange'}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

In [ ]:
union = set1 | set2
print(union)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
intt = set1 & set2
print(intt)

{3, 4, 5}

In [ ]:
diff = set1 - set2
print(diff)

{1, 2}

In [ ]:
if set1.issubset(set2):
    print("yes set1 is subset of set2")
else:
    print("no set1 is not subset of set2")

no set1 is not subset of set2

In [ ]:
# task 08

In [ ]:
z = "python programming is fun and poweful!"

In [ ]:
len(z)

38

In [ ]:
uppercase_string = z.upper()
print("Uppercase:", uppercase_string)

Uppercase: PYTHON PROGRAMMING IS FUN AND POWEFUL!

In [ ]:
x = z.replace("fun", "exciting")
print(x)

python programming is exciting and poweful!

In [ ]:
if "python" in z:
    print("yes word python is in a string")
else:
    print("python word is not in a string")

yes word python is in a string

In [ ]:
c = z.split()
print(c)

['python', 'programming', 'is', 'fun', 'and', 'poweful!']

In [ ]:
# All task completed