In [ ]:
#T1

In [ ]:
import datetime
name = "hamza alvi"
birth_year = 2000
student = False
current_year = datetime.datetime.now().year
age = current_year - birth_year
print(name)
print(age)
print(student)

hamza alvi
25
False

In [ ]:
def float_number(float_number):
  int_version = int(float_number)
  str_version = str(float_number)
  return int_version, str_version

In [ ]:
float_input = 17.9
int_result, str_result = float_number(float_input)
print("\nOriginal float:", float_input)
print("integer_version", int_result)
print("string_version",str_result)

Original float: 17.9
integer_version 17
string_version 17.9

In [ ]:
#task 2

In [ ]:
def triangle_area():
 base = float(input("Enter base of the triangle: "))
 height = float(input("Enter height of the triangle: "))
 area = 0.5 * base * height
 print("Area of triangle ", area)

triangle_area()

Enter base of the triangle: 44
Enter height of the triangle: 33
Area of triangle  726.0

In [2]:
#Task 3  List

In [3]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1[3:8])

[4, 5, 6, 7, 8]

In [8]:
print(list1[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
print(list1[::2])

[1, 3, 5, 7, 9]

In [16]:
#Type conversion

In [18]:
n = "45"
y = int(n) + 5
print(y)

50

In [19]:
z = 89.99
x = int(z)
print(x)

89

In [21]:
L = [10, 20, 30]
T = tuple(L)
print(T)
type(T)

(10, 20, 30)

tuple

In [25]:
s = "Hamza Alvi"
n = 25
x = s +" " + str(n)
print(x)

Hamza Alvi 25

In [26]:
#Nested structures

In [27]:
L = [[4,5],[6,7]]
print(L[0][0])
print(L[0][1])
print(L[1][0])
print(L[1][1])

4
5
6
7

In [30]:
S = [{"s1":"Hamza Alvi", "grade":"A-"},{"s2":"Alvi","grade":"A+"}]
print(S[1]["grade"])

A+

In [31]:
Data = {"user1":{"name":"Hamza Alvi","age":"25"}, "user2":{"name":"Alvi","age":"25"}}
print(Data["user1"]["name"])

Hamza Alvi

In [33]:
#List compression

In [37]:
list1 = [1,2,3,4,5,6,7,8,9,10]
List_new = [x for x in list1 if x % 2 != 0]
print(List_new)

[1, 3, 5, 7, 9]

In [38]:
list_1 = ["cat", "dog", "cow"]
L = [len(list_1) for x in list_1]
print(L)

[3, 3, 3]

In [39]:
L = [1, 3, 5, 7, 9]
L1 = [x**2 for x in L if x>5]
print(L1)

[49, 81]

In [40]:
#Lamda function

In [41]:
n = lambda x: x*3
print(n(6))

18

In [45]:
n = 8
l = lambda n : n % 2 == 0
print(l(n))

True

In [47]:
l = [1, 2, 3]
L1 = list(map(lambda x:x*2,l))
print(L1)

[2, 4, 6]

In [51]:
L = [10, 11, 12, 13, 14, 15]
l1 = list(filter(lambda x:x % 2 != 0 ,L))
print(l1)

[11, 13, 15]

In [52]:
#enumurate and zip

In [53]:
x = ["pen", "pencil", "eraser"]
for index,value in enumerate(x):
  print(index,value)

0 pen
1 pencil
2 eraser

In [54]:
students = ["Hamza", "Alvi", "Usman"]
marks = [88, 92, 79]
for student, mark in zip(students, marks):
  print(student, mark)

Hamza 88
Alvi 92
Usman 79

In [63]:
### DSA ###    linear search

In [66]:
l = ["cat", "dog", "elephant"]
def linear_search(list,target):
  for index,value in enumerate(list):
    if value == target:
      return f"found in the index : {index} of the list"
  return "not found"

linear_search(l,"dog")

'found in the index : 1 of the list'

In [65]:
linear_search(l,"fish")

'not found'

In [67]:
#bineary search

In [72]:
l= [1, 3, 5, 7, 9, 11, 13]
def binary_search(list,target):
  left = 0
  right = len(list) - 1

  while left <= right:
    mid = (left + right) // 2
    if list[mid] == target:
      return f"found at index {mid}"
    elif list[mid] < target:
      left = mid + 1
    else:
      right = mid - 1

  return "not found"

binary_search(l,9)

'found at index 4'

In [73]:
binary_search(l,4)

'not found'

In [1]:
#swaping in python

In [2]:
a = 10
b = 20
print("Before swap:", a, b)

a, b = b, a
print("After swap:", a, b)

Before swap: 10 20
After swap: 20 10

In [3]:
# Bubble sort

In [5]:
l = [10, 2, 5, 3, 1]
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:
                print(f"Swapping {arr[j]} and {arr[j+1]}")
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

print(bubble_sort(l))

Swapping 10 and 2
Swapping 10 and 5
Swapping 10 and 3
Swapping 10 and 1
Swapping 5 and 3
Swapping 5 and 1
Swapping 3 and 1
Swapping 2 and 1
[1, 2, 3, 5, 10]