In [11]:
#T1
age = 25
name = "Hamza"
student = True
if student == True:
    print("student")
else:
    print("not student")
print(age,name,student)

student
25 Hamza True

In [12]:
#T2

In [13]:
width = 5.5
height = 3.25
area = width * height
print(area)

17.875

In [14]:
Celsius_temperature = 50
fahrenheit_temperature = (Celsius_temperature * 9/5) + 32
print(fahrenheit_temperature)

122.0

In [15]:
radius = 5
pi = 3.14
area = radius * pi
print(area)

15.700000000000001

In [9]:
#Task 3

In [22]:
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [17]:
months = ("januery", "febureary", "march")
print(months)

('januery', 'febureary', 'march')

In [18]:
#Task 4
numbers = [12, 34, 45, 67, 89, 100, 23, 56]
total_sum = 0
for i in numbers:
  total_sum = 1 + i
print(total_sum)

57

In [9]:
#average of numbers
average = total_sum / len(numbers)
print(average)

7.125

In [23]:
del fruits[0]
del fruits[3]
print(fruits)

['banana', 'orange', 'grape']

In [24]:
# task 5

In [1]:
capitals = {"USA": "Washington D.C.", "France": "Paris", "Japan": "Tokyo", "Germany": "Berlin"}
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

In [2]:
capitals["Germany"] = "Berlin"

In [3]:
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

In [4]:
if "France" in capitals:
    print("France is in the capitals dictionary.")
else:
    print("France is not in the capitals dictionary.")

France is in the capitals dictionary.

In [5]:
#task 6

In [6]:
numbers = int(input("enter a number"))
if numbers % 2 == 0:
    print("this is even number")
else:
    print("this is odd number")

enter a number5
this is odd number

In [9]:
age = 25
gpa = 2.32
if age >=18 and gpa >= 3.0 and gpa <= 4.0:
    print("eligible for admission")
else:
    print("not eligible for admission")

not eligible for admission

In [10]:
#task 7

In [11]:
fruits_set = {"apple", "banana", "orange", "grape", "kiwi"}
print(fruits_set)

{'apple', 'banana', 'grape', 'kiwi', 'orange'}

In [12]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
union = set1 | set2
union

{1, 2, 3, 4, 5, 6, 7}

In [13]:
Int = set1 & set2
Int

{3, 4, 5}

In [14]:
defference = set1 - set2
defference

{1, 2}

In [15]:
if set1.issubset(set2):
    print("yes set1 is subset of set2")
else:
    print("no set1 is not subset of set2")

no set1 is not subset of set2

In [16]:
#Task 7

In [17]:
s = "python programing is fun and powerfull"
len(s)

38

In [20]:
z = s.upper()
z

'PYTHON PROGRAMING IS FUN AND POWERFULL'

In [23]:
x = s.replace("fun", "execiting")
x

'python programing is execiting and powerfull'

In [24]:
if "python" in s:
  print("word python is in s")
else:
  print("word python is not in s")

word python is in s

In [25]:
L = s.split()
L

['python', 'programing', 'is', 'fun', 'and', 'powerfull']

In [ ]:
#happy programing