In [ ]:
#HAPPY LEARNING

In [ ]:
#Basic
print("Hello world")

Hello world

In [ ]:
#Adding 2 veriables
a=3
b=7
c= a+b
print(a,"+",b)
print(c)

3 + 7
10

In [ ]:
#string  text    "Faryal"," Sayyad", Abdur rafay
#integer int numbers/ numerics 1, 33, 45, 6789
#Float   decimal numers 0.1, 7.8, 4.6666
#Boolean True / False

In [ ]:
y= "hamza", 1, 0.8
print(y)
type(y)

('hamza', 1, 0.8)

tuple

In [ ]:
z = "hamza"
s = 25
print("my name is :",z,", i am :",s,"years old")

my name is : hamza , i am : 25 years old

In [ ]:
#F String
print(f"my name is :",{z})

my name is : {'hamza'}

In [ ]:
#Taking Input
My_Name = input("what is your name :")
print(My_Name.upper())
print(My_Name.lower())

what is your name :hamza alvi
HAMZA ALVI
hamza alvi

In [ ]:
#Arithematics
#Comparison
#Logical

Arithematics

In [ ]:
#addition  +
#subtraction -
#multiplication *
#division /
#floor division //
#exponential **
# modulus %


print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:", a*b)
print("Division:", a/b)
print("Modulus:", a%b)  #Remainder
print("Exponential:", a**b)
print("Floor Division:", a//b)  #neglect the numbers after point(.)

Addition: 10
Subtraction: -4
Multiplication: 21
Division: 0.42857142857142855
Modulus: 3
Exponential: 2187
Floor Division: 0

In [ ]:
#Comparison operators use to compare two values
# Always returns boolean expression


# < less then
# > greater
# >=
# <=
# ==
# !=

print(a == b)
print( a < b)
print( a <= b)
print( a > b)
print( a >= b)
print( a != b)

False
True
True
False
False
True

Logical operators

In [ ]:
q = 24
s = 34
if s > q or s == q:
    print("function is working")

function is working

In [ ]:
if s > q and s == q:
    print("function is working")

In [ ]:
if s > q and s != q:
    print("function is working")

function is working

Data structures

In [ ]:
#list
#tuple
#set
#dictionary

List

In [ ]:
# We can modify, append list
# we can remove items from the list
# we can sort and reverse list
# we can count items in the list

In [ ]:
fruits = ["Apple", "watermelon", "Banana", "cherry", 1, True, 1, 1]
fruits

['Apple', 'watermelon', 'Banana', 'cherry', 1, True, 1, 1]

In [ ]:
#indexing  always start from 0

fruits.remove("Apple")

In [ ]:
fruits.append("kiwi fruit")

In [ ]:
fruits.reverse()

In [ ]:
fruits.count("Banana")

1

In [ ]:
print(fruits)

['kiwi fruit', 1, 1, True, 1, 'cherry', 'Banana', 'watermelon']

In [ ]:
fruits.clear()
print(fruits)

[]

In [ ]:
fruits1 = ["Apple", "watermelon", "Banana", "cherry", "mango"]
fruits1

['Apple', 'watermelon', 'Banana', 'cherry', 'mango']

In [ ]:
fruits1.sort()
fruits1

['Apple', 'Banana', 'cherry', 'mango', 'watermelon']

Tuple

In [ ]:
# we can't modify tuple
# we can't add and remove items

In [ ]:
my_tuple = ("mango", 1, 2, 3)
my_tuple

('mango', 1, 2, 3)

In [ ]:
len(my_tuple)

4

Sets

In [ ]:
# no duplicates
Set = {0,2,3,4, "alvi", 0.7, 3, 4, "true"}
Set

{0, 0.7, 2, 3, 4, 'alvi', 'true'}

In [ ]:
Set.add("hamza")
Set

{0, 0.7, 2, 3, 4, 'alvi', 'hamza', 'true'}

In [ ]:
Set.remove(4)
Set

{0, 0.7, 2, 3, 'alvi', 'hamza', 'true'}

In [ ]:
seta = {1,2,3,4}
setb = {4,5,6,7}

print(seta)
print(setb)

{1, 2, 3, 4}
{4, 5, 6, 7}

UNION

In [ ]:
Union = seta | setb
Union

{1, 2, 3, 4, 5, 6, 7}

INTERCETION

In [ ]:
setc = {9,10,11}
setd = {9,8,7,6}

In [ ]:
Int = setc & setd
Int

{9}

DIFFERENCE

In [ ]:
diff = seta-setb
diff

{1, 2, 3}

In [1]:
#Acciing element in a List

In [21]:
t=["hamza",2,3,4,5] #whole numbers 4 elements
print(t[0])

hamza

In [22]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

#The data elements in two dimesnional arrays can be accessed using two indices

print(T[0])

print(T[2][3])

[11, 12, 5, 2]
5

In [23]:
# new data element is inserted at index position 2.

#first parameter is index and 2nd is value

T.insert(2, [0,5,11,13,7])
print(T)

[[11, 12, 5, 2], [15, 6, 10], [0, 5, 11, 13, 7], [10, 8, 12, 5], [12, 15, 8, 6]]

In [24]:
# Updating Values
T[2] = "String_Value"
T[0][3] = "r"

print(T)

[[11, 12, 5, 'r'], [15, 6, 10], 'String_Value', [10, 8, 12, 5], [12, 15, 8, 6]]

In [25]:
#Deleting the Values

del T[0][2]
print(T)

[[11, 12, 'r'], [15, 6, 10], 'String_Value', [10, 8, 12, 5], [12, 15, 8, 6]]

In [26]:
#Dictionary            Keys and values

In [ ]:
student = {'name':'Rabya', 'age': 33.9, '####' : 33.6 ,'phone': 75 , 'courses': ('maths', 'science')}
print(student['age'])
print(student.get('number','NULL'))

print(student.get('phone'))
print(student.get('####', 'NULL'))  
print(type(student))

33.9
NULL
75
33.6
<class 'dict'>

In [40]:
# Example: We want to represent a student using a dictionary
# Key can be an integer or a string

student = {'name':'Rabya', 'age': 33, 'courses': ['maths', 'science']}
print(student['age'])

# print(student['phone']) error

print(student.get('phone')) # return none

print(student.get('phone', 'Not found')) #customized message

# add an element in the dictionary

student['phone'] = 55555 # new value

student['name'] = 'Sayed' # update the value

print(student)

# another way to update a value is using the update method

student.update({'name':'Khan', 'age': 40, 'courses': ['english', 'urdu']})
print(student)

# delete a key from the dictionary

del student['courses']
print(student)

# another way to delete will be to pop the value and it will also return this value

age = student.pop('age')
print(student)


#loop through the values of keys in dictionary

print(len(student)) # total elements
print(student.keys()) # only keys
print(student.values()) # only values
print(student.items()) # show both, key value pairs

for key, value in student.items():
    print(key, value)

33
None
Not found
{'name': 'Sayed', 'age': 33, 'courses': ['maths', 'science'], 'phone': 55555}
{'name': 'Khan', 'age': 40, 'courses': ['english', 'urdu'], 'phone': 55555}
{'name': 'Khan', 'age': 40, 'phone': 55555}
{'name': 'Khan', 'phone': 55555}
2
dict_keys(['name', 'phone'])
dict_values(['Khan', 55555])
dict_items([('name', 'Khan'), ('phone', 55555)])
name Khan
phone 55555

In [48]:
#Contional statements and Loops

IF , else if , else

In [47]:
num = int(input("Ennter a positive or negative number"))

#Check if number is positive or negative
if num>=0:
    print(num,"is a positive number")
if num<0:
    print(num,"is a negative number")

Ennter a positive or negative number50
50 is a positive number

In [49]:
#discout price calculater

In [66]:
item_price = int(input("Enter the price of item :"))
if item_price<500:
  dicount = 0.03
  total_dicount = item_price*dicount
  price_AD = item_price-total_dicount
  print("Your original item price is :",item_price,", You get total discount of :",total_dicount,", Price after dicount :",price_AD)
elif item_price<1000:
  dicount = 0.05
  total_dicount = item_price*dicount
  price_AD = item_price-total_dicount
  print("Your original item price is :",item_price,", You get total discount of :",total_dicount,", Price after dicount :",price_AD)
elif item_price>=1000:
  dicount = 0.1
  total_dicount = item_price*dicount
  price_AD = item_price-total_dicount
  print("Your original item price is :",item_price,", you get total discount of :",total_dicount,", Price after dicount :",price_AD)

Enter the price of item :1000
Your original item price is : 1000 , you get total discount of : 100.0 , Price after dicount : 900.0