In [ ]:
#HAPPY LEARNING

In [ ]:
#Basic
print("Hello world")

Hello world

In [ ]:
#Adding 2 veriables
a=3
b=7
c= a+b
print(a,"+",b)
print(c)

3 + 7
10

In [ ]:
#string  text    "Faryal"," Sayyad", Abdur rafay
#integer int numbers/ numerics 1, 33, 45, 6789
#Float   decimal numers 0.1, 7.8, 4.6666
#Boolean True / False

In [ ]:
y= "hamza", 1, 0.8
print(y)
type(y)

('hamza', 1, 0.8)

tuple

In [ ]:
z = "hamza"
s = 25
print("my name is :",z,", i am :",s,"years old")

my name is : hamza , i am : 25 years old

In [ ]:
#F String
print(f"my name is :",{z})

my name is : {'hamza'}

In [ ]:
#Taking Input
My_Name = input("what is your name :")
print(My_Name.upper())
print(My_Name.lower())

what is your name :hamza alvi
HAMZA ALVI
hamza alvi

In [ ]:
#Arithematics
#Comparison
#Logical

Arithematics

In [ ]:
#addition  +
#subtraction -
#multiplication *
#division /
#floor division //
#exponential **
# modulus %


print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:", a*b)
print("Division:", a/b)
print("Modulus:", a%b)  #Remainder
print("Exponential:", a**b)
print("Floor Division:", a//b)  #neglect the numbers after point(.)

Addition: 10
Subtraction: -4
Multiplication: 21
Division: 0.42857142857142855
Modulus: 3
Exponential: 2187
Floor Division: 0

In [ ]:
#Comparison operators use to compare two values
# Always returns boolean expression


# < less then
# > greater
# >=
# <=
# ==
# !=

print(a == b)
print( a < b)
print( a <= b)
print( a > b)
print( a >= b)
print( a != b)

False
True
True
False
False
True

Logical operators

In [ ]:
q = 24
s = 34
if s > q or s == q:
    print("function is working")

function is working

In [ ]:
if s > q and s == q:
    print("function is working")

In [ ]:
if s > q and s != q:
    print("function is working")

function is working

Data structures

In [ ]:
#list
#tuple
#set
#dictionary

List

In [ ]:
# We can modify, append list
# we can remove items from the list
# we can sort and reverse list
# we can count items in the list

In [ ]:
fruits = ["Apple", "watermelon", "Banana", "cherry", 1, True, 1, 1]
fruits

['Apple', 'watermelon', 'Banana', 'cherry', 1, True, 1, 1]

In [ ]:
#indexing  always start from 0

fruits.remove("Apple")

In [ ]:
fruits.append("kiwi fruit")

In [ ]:
fruits.reverse()

In [ ]:
fruits.count("Banana")

1

In [ ]:
print(fruits)

['kiwi fruit', 1, 1, True, 1, 'cherry', 'Banana', 'watermelon']

In [ ]:
fruits.clear()
print(fruits)

[]

In [ ]:
fruits1 = ["Apple", "watermelon", "Banana", "cherry", "mango"]
fruits1

['Apple', 'watermelon', 'Banana', 'cherry', 'mango']

In [ ]:
fruits1.sort()
fruits1

['Apple', 'Banana', 'cherry', 'mango', 'watermelon']

Tuple

In [ ]:
# we can't modify tuple
# we can't add and remove items

In [ ]:
my_tuple = ("mango", 1, 2, 3)
my_tuple

('mango', 1, 2, 3)

In [ ]:
len(my_tuple)

4

Sets

In [ ]:
# no duplicates
Set = {0,2,3,4, "alvi", 0.7, 3, 4, "true"}
Set

{0, 0.7, 2, 3, 4, 'alvi', 'true'}

In [ ]:
Set.add("hamza")
Set

{0, 0.7, 2, 3, 4, 'alvi', 'hamza', 'true'}

In [ ]:
Set.remove(4)
Set

{0, 0.7, 2, 3, 'alvi', 'hamza', 'true'}

In [1]:
seta = {1,2,3,4}
setb = {4,5,6,7}

print(seta)
print(setb)

{1, 2, 3, 4}
{4, 5, 6, 7}

UNION

In [2]:
Union = seta | setb
Union

{1, 2, 3, 4, 5, 6, 7}

INTERCETION

In [10]:
setc = {9,10,11}
setd = {9,8,7,6}

In [11]:
Int = setc & setd
Int

{9}

DIFFERENCE

In [7]:
diff = seta-setb
diff

{1, 2, 3}